---
import BmwLogo from "./SVG/BmwLogo.astro";

---

<header class="hidden sm:flex pt-8 px-12 flex-row justify-between items-center text-white">
    <h1 class="text-white text-2xl font-bold text-shadow-xl">BMW Financial Services</h1>
    <BmwLogo class="w-16 h-auto" />
</header>